<div dir="rtl" class="container">
  <div dir="rtl" id="confirmpassbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="card">
      <div class="card-header">
        <div class="card-title">تایید رمز عبور</div>
      </div>
      <div class="card-body" >
        <form id="confirmpassform" class="form-horizontal" role="form">
          <div id="errorCreationAlert" *ngIf="showError" class="alert alert-danger">
            <p>{{errorMessage}}</p>
            <span></span>
          </div>
          <div id="successCreationAlert" *ngIf="showSuccess" class="alert alert-success">
            <p>{{successMessage}}</p>
            <span></span>
          </div>
          <div class="input-group">
            <input autofocus tabindex="8" [style.border]="passwordBorderStyle" type="password" class="form-control" id="password" name="password" placeholder="رمز عبور" [(ngModel)]="confirmPassword">
          </div>
          <label id="errorLabel" class="input-group-text badge bg-danger">{{passwordErrorMessage}}</label>
          <div class="form-group" style="margin-top: 25px;">
            <div class="card">
              <button id="btn-confirmpass" tabindex="9" class="btn" (keyup.enter)="createUser()" (click)="createUser()">ثبت اطلاعات</button>
            </div>
          </div>
          <div class="form-group" style="margin-top: 10px;">
            <div class="card">
              <a dir="rtl" class="btn" tabindex="10" id="previousStep" (keyup.enter)="previousStep()" (click)="previousStep()">مرحله قبل</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
