.card {
  margin-top:20px;
  color: rgb(217, 99, 93) !important;
  background: rgb(34, 37, 41) !important;
}

.user-profile {
  margin-top: 20px !important;
}

.bookButton:hover {
  color: rgb(34, 37, 41);
  transition: 0.1s color ease-in-out;
}

.bookButton {
  background-color: rgb(217, 99, 93) !important;
  border-radius: 30px;
}

.btn {
  color: ghostwhite;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.h-10 {
  max-width: fit-content;
  margin-right: auto !important;
  margin-left: auto !important;
}

.merchant-card {
  border: 1px solid rgb(217, 99, 93);
  border-radius: 5px;
  width: max-content;
  height: max-content;
  text-align: center;
}

.merchant-avatar {
  margin: 0 0 1rem 0;
  text-align: center;
}

.merchant-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.account-settings .user-profile h5.client-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h5.client-address {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h5.schedule-name{
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h5.schedule-date {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.client-phone {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}

.account-settings .about {
  margin: 1rem 0 0 0;
  font-size: 0.8rem;
  text-align: center;
}
.card {
  background: #272E48;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.form-control {
  border: 1px solid #596280;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 30px;
  font-size: .825rem;
  background: rgb(34, 37, 41) !important;
  color: white;
}

*:not(.fa) {
  font-family: Yekan, serif;
}

.text-primary {
  color: rgb(217, 99, 93) !important;
}

.alert {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1000px) {
  #mainCard {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .col-md-3, .h-10 {
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
  }
}
