<div class="stage-group" style="margin-top: 0px;">
  <span class="fa fa-mobile stage"></span><span dir="rtl" class="fa fa-arrow-circle-left next-left"></span><span class="fa fa-arrow-circle-down next-down"></span><br/>
</div>
<div class="stage-group">
  <span class="fa fa-user stage"></span><span dir="rtl" class="fa fa-arrow-circle-left next-left"></span><span class="fa fa-arrow-circle-down next-down"></span>
</div>
<div class="stage-group">
  <span class="fa fa-key stage"></span><span dir="rtl" class="fa fa-arrow-circle-left next-left"></span><span class="fa fa-arrow-circle-down next-down"></span>
</div>
<div class="stage-group">
  <span class="fa fa-sms stage"></span><span dir="rtl" class="fa fa-arrow-circle-left next-left"></span><span class="fa fa-arrow-circle-down next-down"></span>
</div>
<div class="stage-group">
  <span class="fa fa-check stage" style="color: green;"></span>
</div>
