<div dir="rtl" class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile" style="text-align: center;">
              <app-stage-illustrator></app-stage-illustrator>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" id="mainCard">
      <div class="card h-100">
        <div class="card-body" style="">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div dir="rtl" id="regnamebox" style="margin-top:50px; margin-left: auto; margin-right: auto;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <div class="card" style="border: none;">
                <form id="regnameform" class="form-horizontal" role="form">
                  <div class="input-group">
                    <input autocomplete="given-name" autofocus [style]="firstNameBorderStyle" tabindex="8" type="text" class="form-control" id="firstname" name="firstname" placeholder="نام" [(ngModel)]="user.firstName">
                  </div>
                  <div class="input-group">
                    <input autocomplete="family-name" [style]="lastNameBorderStyle" tabindex="9" type="text" class="form-control" id="lastname" name="lastname" placeholder="نام خانوادگی" [(ngModel)]="user.lastName" >
                  </div>
                  <div class="form-group" style="margin-top: 25px;">
                    <!-- Button -->
                    <div class="card" style="border: none;">
                      <button id="btn-regname" tabindex="10" class="btn" (keyup.enter)="nextStep()" (click)="nextStep()">مرحله بعد</button>
                    </div>
                  </div>
                  <div class="form-group" style="margin-top: 10px;">
                    <div class="card" style="border: none;">
                      <a dir="rtl" class="btn" id="previousStep" tabindex="11" (keyup.enter)="previousStep()" (click)="previousStep()">مرحله قبل</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

