<div dir="rtl" class="container">
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" id="mainCard">
    <div class="card h-100">
      <div class="card-body">
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div style="text-align: center;">
              <label *ngIf="false" class="alert alert-danger">مشکل در دریافت اطلاعات. دوباره سعی کنید</label>
            </div>
            <h6 class="mb-3 text-primary">مراکز ارائه سرویس</h6>
            <div class="row" style="text-align: center;" id="slotsCard">
              <div *ngFor="let service of services" class="col-md-3">
                <div class="card h-10">
                  <div class="card-body merchant-card">
                    <div class="merchant-avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="{{service.name}}">
                    </div>
                    <h6>{{service.name}}</h6>
                    <h6>{{service.address.city.name}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
