.container {
  text-align: center;
}

#loginbox {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

#btn-login, #btn-signup {
  background-color: rgb(217, 99, 93);
  border-radius: 30px;
  color: white;
}

#btn-login:hover, #btn-signup:hover {
  color: black !important;
  transition: color 0.1s ease-in !important;
}

#login-username:focus, #login-password:focus {
  outline: none !important;
  border-color: rgb(217, 99, 93);
  box-shadow: 0 0 10px rgb(217, 99, 93);
}

.form-control, .input-group-text {
  border: 1px solid #596280;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 30px;
  font-size: .825rem;
  background: rgb(34, 37, 41) !important;
  color: white;
}

.btn {
  color: ghostwhite;
}

*:not(.fa) {
  font-family: Yekan, serif;
}

.card {
  background-color: rgb(34, 37, 41) !important;
  color: #bcd0f7;
}
