<div dir="rtl" class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile" style="text-align: center;">
              <app-stage-illustrator></app-stage-illustrator>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" id="mainCard">
      <div class="card h-100">
        <div class="card-body" style="">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div dir="rtl" id="signupbox" style="margin-top:50px; margin-left: auto; margin-right: auto;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <div class="card">
                <form id="signupform" name="signupForm" class="form-horizontal" role="form" aria-label="signup">
                  <div id="signupalert" *ngIf="signupError" class="alert alert-danger">{{signupErrorMessage}}</div>
                  <div class="input-group">
                    <label for="phoneNumber" hidden></label><input [style]="signUpUsernameFieldBorderStyle" autofocus dir="rtl" tabindex="8" type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="شماره تلفن همراه" [(ngModel)]="user.username" oninput="this.value=this.value.replace(/[^0-9\s]/g,'');">
                  </div>
                  <label id="errorLabel" class="input-group-text badge bg-danger" style="margin-top: 5px;">{{usernameErrorMessage}}</label>
                  <div class="form-group" style="margin-top: 25px;">
                    <div class="card">
                      <button id="btn-signup" (keyup.enter)="signup()" (click)="signup()" tabindex="9" class="btn">مرحله بعد</button>
                    </div>
                  </div>
                  <div class="form-group" style="margin-top: 10px;">
                    <div class="card">
                      <a dir="rtl" class="btn" id="previousStep" tabindex="10" (keyup.enter)="login()" (click)="login()">
                        بازگشت به صفحه ورود
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


