<div dir="rtl" class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div *ngIf="!isLoaded" class="spinner-border text-white" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div *ngIf="isLoaded" class="user-profile">
              <div class="user-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="{{user.firstName}}&nbsp;{{user.lastName}}">
              </div>
              <h5 class="user-name">{{user.firstName}}&nbsp;{{user.lastName}}</h5>
              <h6 class="user-phone">{{user.username}}</h6>
            </div>
            <div style="text-align: center; margin-top: 10px;">
              <a class="btn" id="editUserInfo" routerLink="/edit-user-profile">تغییر اطلاعات کاربری</a>
            </div>
            <div style="text-align: center; margin-top: 10px;">
              <a class="btn" id="createClient" routerLink="/register-client">ثبت مرکز سرویس دهنده</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" id="mainCard">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div style="text-align: center;">
                <label *ngIf="serverError" class="alert alert-danger">مشکل در دریافت اطلاعات. دوباره سعی کنید</label>
              </div>
              <div *ngIf="!isLoaded" class="spinner-border text-white" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <h6 class="mb-3 text-primary">تایید کد پیامک شده</h6>
              <div class="card h-10">
                <div class="card-body merchant-card">
                  <h6>کد ارسالی به شماره&nbsp;&nbsp;{{this.user.username}}&nbsp;&nbsp;را وارد کنید</h6>
                  <div class="input-group">
                    <input autofocus tabindex="8" type="text" class="form-control" id="code" name="code" placeholder="کد ارسال شده" [(ngModel)]="verificationCode.code">
                  </div>
                  <label *ngIf="" id="errorLabel" class="input-group-text badge bg-danger">{{errorMessage}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
